.contactContainer {
  border: 2px solid black;
  border-radius: 8px;
  width: 400px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: x-large;
}

.contactText {
  font-size: 19px;
  font-weight: 600;
}

.customModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffb561;
  color: black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnWrapper {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.headingDelete {
  color: black;
}

.textDelete {
  color: black;
}
